* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    letter-spacing: 1px;
    line-height: 25px;
    font-weight: 50;
}

body{
    margin: 0;
    min-height: 100vh;
    display: grid;
    place-content: center;
    background-color: #f9ecec;
}

nav{
    position: fixed;
    width: 100%;
    height: 80px;
    display: flex;
    gap: 650px;
    z-index: 2;
    align-items: center;
    background-color: #FFFFFFB3;
}

.logo-button {
    display: flex;
    align-items: center;
    width: 220px;
    height: 50px;
    background-color: #000000;
    color: #000;
    text-decoration: none;
    border: 4px solid #000;
    outline: 4px solid #f7f5f5;
    box-shadow: 8px 8px 0 #000000;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    padding: 0 16px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    margin-left: 20px;
}
  
.logo-button::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(
      45deg,
      transparent,
      rgba(255, 255, 255, 0.8),
      transparent
    );
    transform: rotate(45deg);
    transition: 0.5s;
    opacity: 0;
}
  
.logo-button:hover::before {
    animation: glare 1.5s infinite;
}
  
@keyframes glare {
    0% {
      transform: rotate(45deg) translateY(-100%);
      opacity: 0;
    }
    50% {
      transform: rotate(45deg) translateY(100%);
      opacity: 1;
    }
    100% {
      transform: rotate(45deg) translateY(100%);
      opacity: 0;
    }
}
  
.logo-button:hover {
    transform: translate(-4px, -4px);
    box-shadow: 12px 12px 0 #ff4500;
    background-color: #000;
    color: #f0f0f0;
    outline-color: #000;
}
  
.logo-button:active {
    transform: translate(4px, 4px);
    box-shadow: 0px 0px 0 #ff4500;
    transition: all 0.1s cubic-bezier(0.25, 0.8, 0.25, 1);
}
  
.logo-text {
    display: flex;
    flex-direction: column;
    line-height: 1;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    position: relative;
    z-index: 2;
}
  
.logo-button:hover .button-text {
    transform: skew(-5deg);
}
  
.logo-text span:first-child {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    color: #ffffff;
}
  
.logo-text span:last-child {
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff;
}
  
.logo-button:hover .logo-text span:first-child {
    color: #00a4ef;
}
  
.logo-button::after {
    content: "►";
    position: absolute;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
  
.logo-button:hover::after {
    right: 16px;
}
  

.menu{
    display: flex;
    gap: 55px;
    font-size: large;
    list-style: none;
    align-items: center;
    justify-content: space-around;
}

.menu li {
    position: relative;
    font-size: 1.1em;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    opacity: 0;
    animation: slideUP .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.menu li::after{
    content:'';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: black;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}

.menu li:hover:after {
    transform: scaleX(1);
}

.custom-button {
    width: 10em;
    color: #0251ad;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
    margin: auto;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    font-size: 0.9em;
    padding: .5em;
    background-color: #ccc;
    backdrop-filter: blur(5px);
    position: relative;
    left: -10px;
    border: 2px solid #f9fafb;
    border-radius: 9999px;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.7s ease;
    opacity: 0;
    animation: slideUP .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
  
.custom-button::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: -100%;
    background-color: #0251ad;
    border-radius: 9999px;
    transition: all 0.7s ease;
    z-index: -10;
}
  
.custom-button:hover::before {
    left: 0;
    transform: scale(1.5);
}
  
.custom-button:hover {
    color: #f9fafb;
}

  
.custom-svg {
    width: 2rem;
    height: 2rem;
    justify-content: flex-end;
    transition: transform 0.3s ease, background-color 0.3s ease;
    transform: rotate(45deg);
    padding: 0.5rem;
    border: 1px solid #374151;
    border-radius: 9999px;
}
  
.custom-button:hover .custom-svg {
    transform: rotate(90deg);
    background-color: #f9fafb;
    border: none;
}
  
.custom-path {
    fill: #1f2937;
}
  
.custom-button:hover .custom-path {
    fill: #1f2937;
}

.gallery {
    --s: 350px; /* control the size */
    --g: 10px;  /* control the gap */
    
    display: grid;
    gap: var(--g);
    width: calc(4*var(--s) + 2*var(--g));
    aspect-ratio: 2;
    height: calc(3*350px);
    grid-template-columns: repeat(4,auto);
    margin: 100px 0;
}
  
.gallery > .vid{
    width: 0;
    height: 0;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: .35s linear;
}

.gallery .vid:hover{
    filter: grayscale(0);
    width:  700px;
    height: 500px;
    object-fit: contain;
}

.grayscale {
    filter: grayscale(80%);
    transition: filter 0.3s ease; /* Smooth transition */
}

@keyframes slideUP {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.footer{
    height: 300px;
    width: 100%;
    display: flex;
    background-color: #f4f4f4;
    gap: 500px;
}

.footer p{
    font-size: 16px;
    margin: 100px;
}
.footer p span{
    color: #0251ad;
    font-weight: 300;
}

.main_back {
    position: absolute;
    border-radius: 10px;
    transform: rotate(90deg);
    width: 11em;
    height: 11em;
    background: linear-gradient(135deg, rgb(82, 229, 231) 10%, rgb(19, 12, 183) 100%);
    z-index: 1;
    box-shadow: inset 0px 0px 180px 5px #ffffff;
}
  
.main {
    display: flex;
    flex-wrap: wrap;
    width: 14em;
    align-items: center;
    justify-content: center;
    background: #f4f4f4;
    z-index: 2;
}
  
.card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-top-left-radius: 10px;
    background: #f4f4f4;
    transition: 0.4s ease-in-out, 0.2s background-color ease-in-out,
      0.2s background-image ease-in-out;
    backdrop-filter: blur(5px);
    border: 1px solid transparent;
    -webkit-backdrop-filter: blur(5px);
}
  
.card .instagram {
    opacity: 0;
    transition: 0.2s ease-in-out;
    fill: #cc39a4;
}
  
.card:nth-child(2) {
    border-radius: 0px;
}
  
.card:nth-child(2) .twitter {
    opacity: 0;
    transition: 0.2s ease-in-out;
    fill: #03a9f4;
}
  
.card:nth-child(3) {
    border-top-right-radius: 10px;
    border-top-left-radius: 0px;
}
  
.card:nth-child(3) .dribble {
    opacity: 0;
    transition: 0.2s ease-in-out;
    fill: #ffb5d2;
}
  
.card:nth-child(4) {
    border-radius: 0px;
}
  
.card:nth-child(4) .codepen {
    opacity: 0;
    transition: 0.2s ease-in-out;
    fill: black;
}
  
.card:nth-child(5) {
    border-radius: 0px;
}
  
.card:nth-child(5) .uiverse {
    position: absolute;
    margin-left: 0.2em;
    margin-top: 0.2em;
    opacity: 0;
    transition: 0.2s ease-in-out;
}
  
.card:nth-child(6) {
    border-radius: 0px;
}
  
.card:nth-child(6) .discord {
    opacity: 0;
    transition: 0.2s ease-in-out;
    fill: #8c9eff;
}
  
.card:nth-child(7) {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 0px;
}
  
.card:nth-child(7) .github {
    opacity: 0;
    transition: 0.2s ease-in-out;
    fill: black;
}
 
.card:nth-child(8) {
    border-radius: 0px;
}
  
.card:nth-child(8) .telegram {
    opacity: 0;
    transition: 0.2s ease-in-out;
    fill: #29b6f6;
}
  
.card:nth-child(9) {
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0px;
}
  
.card:nth-child(9) .reddit {
    opacity: 0;
    transition: 0.2s ease-in-out;
}
  
.main:hover {
    width: 14em;
    cursor: pointer;
}
  
.main:hover .main_back {
    opacity: 0;
}
  
.main:hover .card {
    margin: 0.2em;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.2);
    z-index: 4;
}
  
.main:hover .card:nth-child(5) {
    border: transparent;
}
  
.main:hover .text {
    opacity: 0;
    z-index: -3;
}

.main:hover .instagram {
    opacity: 1;
}
  
.main:hover .twitter {
    opacity: 1;
}
  
.main:hover .dribble {
    opacity: 1;
}
  
.main:hover .codepen {
    opacity: 1;
}
  
.main:hover .uiverse {
    opacity: 1;
}
  
.main:hover .discord {
    opacity: 1;
}
  
.main:hover .github {
    opacity: 1;
}

.main:hover .telegram {
    opacity: 1;
}
  
.main:hover .reddit {
    opacity: 1;
}
  
.card:nth-child(1):hover {
    background-color: #cc39a4;
}
  
.card:nth-child(1):hover .instagram {
    fill: white;
}
  
.card:nth-child(2):hover {
    background-color: #03a9f4;
}
  
.card:nth-child(2):hover .twitter {
    fill: white;
}
  
.card:nth-child(3):hover {
    background-color: #ffb5d2;
}
  
.card:nth-child(3):hover .dribble {
    fill: white;
}
  
.card:nth-child(4):hover {
    background-color: #1e1f26;
}
  
.card:nth-child(4):hover .codepen {
    fill: white;
}
  
.card:nth-child(5):hover {
    animation: backgroundIMG 0.1s;
    animation-fill-mode: forwards;
}
  
.card:nth-child(5):hover .uiverse #paint0_linear_501_142 stop {
    stop-color: white;
}
  
.card:nth-child(5):hover .uiverse #paint1_linear_501_142 stop {
    stop-color: white;
}
  
.card:nth-child(5):hover .uiverse #paint2_linear_501_142 stop {
    stop-color: white;
}
  
@keyframes backgroundIMG {
    100% {
      background-image: linear-gradient(#bf66ff, #6248ff, #00ddeb);
    }
}
  
.card:nth-child(6):hover {
    background-color: #8c9eff;
}
  
.card:nth-child(6):hover .discord {
    fill: white;
}
  
.card:nth-child(7):hover {
    background-color: black;
}
  
.card:nth-child(7):hover .github {
    fill: white;
}
  
.card:nth-child(8):hover {
    background-color: #29b6f6;
}
  
.card:nth-child(8):hover .telegram > path:nth-of-type(1) {
    fill: white;
}
  
.card:nth-child(8):hover .telegram > path:nth-of-type(2) {
    fill: #29b6f6;
}
  
.card:nth-child(8):hover .telegram > path:nth-of-type(3) {
    fill: #29b6f6;
}
  
.card:nth-child(9):hover {
    background-color: rgb(255, 69, 0);
}
  
.card:nth-child(9) .reddit > g circle {
    fill: rgb(255, 69, 0);
}
  
.card:nth-child(9) .reddit > g path {
    fill: white;
}
  
.text {
    position: absolute;
    font-size: 0.7em;
    transition: 0.4s ease-in-out;
    color: black;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.33em;
    z-index: 3;
}
